.initialForm {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh;
  gap: 0.5rem;
}

.formNavLinks {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  gap: 1rem;
}

.formNavLinks p {
  text-decoration: underline;
  cursor: pointer;
}
