/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* BASE STYLES */
html {
  hanging-punctuation: first last;
  color-scheme: dark light;
  /* Prevent font size inflation */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body > :is(header, footer),
main,
section,
article {
  container-type: inline-size;
}

body {
  min-height: 100svh;
  font-size: 1.125rem;
  line-height: 1.6;
}

main {
  width: min(65ch, 100% - 4rem);
  margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  max-width: 65ch;
  text-wrap: pretty;
}

img,
picture,
svg,
video {
  font-style: italic;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  shape-margin: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

/* MY STYLES BELOW */

.container {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1.5rem;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
}

.body-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  grid-row: 2 / 3;
}

body {
  font-family: sans-serif;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1.125em;
}
h6 {
  font-size: 1em;
}
